body {
  padding: 50px
}


/*CSS attributes of the square*/
.square {
  border: 2.5px solid black;
  font: "Comic Sans MS", cursive, sans-serif;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 34px;
  height: 75px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.square.square-isWinner {
  background: white;
}

.square.square-isLooser {
  background: green;
}

.square:focus {
  outline: none;
}



/*CSS attributes of the tables*/
td{
  padding:0 ;
}
tr{
  padding:0 ;
}
table {
  border-collapse: collapse;
}

table.subTable {
  border:5px solid
}

table.Table {
  border: 0px solid
}
