html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * {
 border: 1px solid red;
 position: relative;
}

.grid-container *:after {
 /* content:attr(class); */
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 50px 500px 50px;
  grid-template-rows: 50px 500px 50px;
  grid-template-areas: ". top-area ." "left-area board right-area" ". bottom-area .";
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "board-00 board-01" "board-10 board-11";
  grid-area: board;
}

.board-00 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "s0 s1 s2" "s3 s4 s5" "s6 s7 s8";
  grid-area: board-00;
}

.s0 { grid-area: s0; }

.s1 { grid-area: s1; }

.s2 { grid-area: s2; }

.s3 { grid-area: s3; }

.s4 { grid-area: s4; }

.s5 { grid-area: s5; }

.s6 { grid-area: s6; }

.s7 { grid-area: s7; }

.s8 { grid-area: s8; }

.board-01 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "s0 s1 s2" "s3 s4 s5" "s6 s7 s8";
  grid-area: board-01;
}

.s0 { grid-area: s0; }

.s1 { grid-area: s1; }

.s2 { grid-area: s2; }

.s3 { grid-area: s3; }

.s4 { grid-area: s4; }

.s5 { grid-area: s5; }

.s6 { grid-area: s6; }

.s7 { grid-area: s7; }

.s8 { grid-area: s8; }

.board-10 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "s0 s1 s2" "s3 s4 s5" "s6 s7 s8";
  grid-area: board-10;
}

.s0 { grid-area: s0; }

.s1 { grid-area: s1; }

.s2 { grid-area: s2; }

.s3 { grid-area: s3; }

.s4 { grid-area: s4; }

.s5 { grid-area: s5; }

.s6 { grid-area: s6; }

.s7 { grid-area: s7; }

.s8 { grid-area: s8; }

.board-11 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "s0 s1 s2" "s3 s4 s5" "s6 s7 s8";
  grid-area: board-11;
}

.s0 { grid-area: s0; }

.s1 { grid-area: s1; }

.s2 { grid-area: s2; }

.s3 { grid-area: s3; }

.s4 { grid-area: s4; }

.s5 { grid-area: s5; }

.s6 { grid-area: s6; }

.s7 { grid-area: s7; }

.s8 { grid-area: s8; }

.top-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "button-00-clock . . . . . . . . button-01-anti";
  grid-area: top-area;
}

.button-01-anti { grid-area: button-01-anti; }

.button-00-clock { grid-area: button-00-clock; }

.bottom-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "button-10-anti . . . . . . . . button-11-clock";
  grid-area: bottom-area;
}

.button-11-clock { grid-area: button-11-clock; }

.button-10-anti { grid-area: button-10-anti; }

.left-area {
  display: grid;
  grid-template-columns: ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "button-00-anti" "." "." "." "." "." "." "." "." "button-10-clock";
  grid-area: left-area;
}

.button-00-anti { grid-area: button-00-anti; }

.button-10-clock { grid-area: button-10-clock; }

.right-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "button-10-clock" "." "." "." "." "." "." "button-11-anti";
  grid-area: right-area;
}

.button-10-clock { grid-area: button-10-clock; }

.button-11-anti { grid-area: button-11-anti; }
